<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Knm_Newsletter>
            <version>0.1.0</version>
        </Knm_Newsletter>
    </modules>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Knm_Newsletter before="Mage_Newsletter">Knm_Newsletter</Knm_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <translate>
            <modules>
                <knm_newsletter>
                    <files>
                        <default>Knm_Newsletter.csv</default>
                    </files>
                </knm_newsletter>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <knm_newsletter>
                <class>Knm_Newsletter_Helper</class>
            </knm_newsletter>
        </helpers>
        <layout>
            <updates>
                <newsletter>
                    <file>newsletter.xml</file>
                </newsletter>
            </updates>
        </layout>
        <blocks>
            <knm_newsletter>
                <class>Knm_Newsletter_Block</class>
            </knm_newsletter>
            <newsletter>
                <rewrite>
                    <subscribe>Knm_Newsletter_Block_Subscribe</subscribe>
                </rewrite>
            </newsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_template_edit_form>Knm_Newsletter_Block_Adminhtml_Template_Edit_Form
                    </newsletter_template_edit_form>
                    <newsletter_template_grid>Knm_Newsletter_Block_Adminhtml_Template_Grid</newsletter_template_grid>
                    <newsletter_queue_edit_form>Knm_Newsletter_Block_Adminhtml_Queue_Edit_Form
                    </newsletter_queue_edit_form>
                    <newsletter_template_edit>Knm_Newsletter_Block_Adminhtml_Template_Edit</newsletter_template_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <knm_newsletter>
                <class>Knm_Newsletter_Model</class>
                <resourceModel>knm_newsletter_mysql4</resourceModel>
            </knm_newsletter>
            <knm_newsletter_mysql4>
                <class>Knm_Newsletter_Model_Mysql4</class>
            </knm_newsletter_mysql4>
            <newsletter>
                <rewrite>
                    <subscriber>Knm_Newsletter_Model_Subscriber</subscriber>
                    <queue>Knm_Newsletter_Model_Queue</queue>
                    <template>Knm_Newsletter_Model_Template</template>
                    <observer>Knm_Newsletter_Model_Observer</observer>
                </rewrite>
            </newsletter>
            <core>
                <rewrite>
                    <email_template>Knm_Newsletter_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <knm_newsletter_setup>
                <setup>
                    <module>Knm_Newsletter</module>
                </setup>
            </knm_newsletter_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Knm_Newsletter before="Mage_Adminhtml">Knm_Newsletter</Knm_Newsletter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <newsletter>
            <settings>
                <count_of_queue>3</count_of_queue>
                <count_of_subscriptions>20</count_of_subscriptions>
            </settings>
        </newsletter>
    </default>

</config>