<?xml version="1.0"?>
<config>
    <sections>
        <newsletter>
            <groups>
                <settings>
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <count_of_queue translate="label">
                            <label>Count of Queue</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count_of_queue>
                        <count_of_subscriptions translate="label">
                            <label>Count of Subscriptions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count_of_subscriptions>
                    </fields>
                </settings>
            </groups>
        </newsletter>
    </sections>
</config>